@import "../../App.scss";

.situation-view-audio-hint-text {
    height: 24px;
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
    color: #45413e;
}