 @use "../../App.scss";


.volume-slider-track .ant-slider-track {
    width: 8px;
    border-radius: 12px;
    margin-left: -2px;
    background: linear-gradient(to top, #d2c409, #fffaad);
}

.volume-slider-rail .ant-slider-rail {
    width: 8px;
    border-radius: 12px;
    margin-left: -2px;
    background: linear-gradient(to top, #757371, #d9d9d9);
}

.volume-slider-handle .ant-slider-handle {
    background-image: url("../../assets/slider-handle.jpg");
    background-size: contain;
    border-radius: 8px;
    width: 25px;
    height: 32px;
    margin-left: -7px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
}

.volume-slider-handle-after .ant-slider-handle::after {
    width: 0px;
    height: 0px;
    box-shadow: none;
    outline: none;
}

.volume-slider-handle-tooltip-after .ant-slider-handle.ant-tooltip-open::after {
    width: 0px;
    height: 0px;
    box-shadow: none;
    outline: none;
}

.volume-slider-handle-hover-after .ant-slider-handle:hover::after {
    width: 0px;
    height: 0px;
    box-shadow: none;
    outline: none;
}

.volume-slider-handle-focus-after .ant-slider-handle:focus::after {
    width: 0px;
    height: 0px;
    box-shadow: none;
    outline: none;
}

// for hide tooltip? (handle top left) dot
.h .ant-slider-handle::before {
    width: 6px;
    height: 6px;
    box-shadow: none;
    outline: none;
    background-color: white;
    z-index: 1;
}

.h1 .ant-slider-handle:hover::before {
    width: 6px;
    height: 6px;
    box-shadow: none;
    outline: none;
    background-color: white;
    z-index: 1;
}

.h2 .ant-slider-handle:focus::before {
    width: 6px;
    height: 6px;
    box-shadow: none;
    outline: none;
    background-color: white;
    z-index: 1;
}

.volume-title-row {
    display: flex;
}

.volume-title-input {
    width: 270px;
    height: 48px;
    margin-top: 6px;
    margin-left: 36px;
    font-size: 16px;
    background-color: #e7e7e7;
}

.volume-input .ant-input {
    background-color: #e7e7e7;
    @extend .sdcp-font;
}

.volume-container {
    padding: 2px;
    max-height: calc(100vh - 210px);
    overflow: auto;
    flex-grow: 1;
    width: calc(100vw - 280px);
    margin-top: 24px;
}

.volume-container-collapse {
    padding: 2px;
    max-height: calc(100vh - 210px);
    overflow: auto;
    flex-grow: 1;
    width: calc(100vw - 130px);
    margin-top: 24px;
}

.volume-card {
    width: 124px;
    height: 483px;
    background-color: white;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 24px 16px;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    text-align: center;
    align-items: center;
}

.volume-card-title {
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #45413e;
    @extend .sdcp-font;
}

.volume-card-devicetype {
    height: 36px;
    font-size: 16px;
    color: #a5a5a5;
}

.volume-card-text {
    font-size: 14px;
    color: #898989;
    @extend .sdcp-font;
}