 @use "../../App.scss";

.volume-title-row {
    display: flex;
    // justify-content: space-between;
}

.volume-title-input {
    width: 270px;
    height: 48px;
    margin-top: 6px;
    margin-left: 36px;
    // margin-bottom: 30px;
    font-size: 16px;
    background-color: #e7e7e7;
}

.volume-input .ant-input {
    background-color: #e7e7e7;
    @extend .sdcp-font;
}

.volume-container {
    padding: 2px;
    max-height: calc(100vh - 210px);
    overflow: auto;
    flex-grow: 1;
    width: calc(100vw - 280px);
    margin-top: 24px;
}

.volume-container-collapse {
    padding: 2px;
    max-height: calc(100vh - 210px);
    overflow: auto;
    flex-grow: 1;
    width: calc(100vw - 130px);
    margin-top: 24px;
}

.volume-card {
    width: 124px;
    height: 483px;
    background-color: white;
    margin-right: 16px;
    margin-bottom: 16px;
    // gap: 16px;
    padding: 24px;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
}

.single-screen-left-container {
    max-height: calc(100vh - 240px);
    overflow: auto;
    flex-grow: 1;
}