.mix-audio-matrix-content .ant-modal-content {
    padding: 26px 26px 20px 26px !important;
}

.mix-audio-matrix-modal {
    max-width: none !important;
    width: 938px !important;
    margin-top: -80px;
}

.mix-audio-matrix-modal-divider {
    height: 1px;
    margin-top: 21px;
    margin-bottom: 2px;
    align-self: stretch;
    flex-grow: 0;
    background-color: #d4d4d4;
}

.mix-audio-matrix-selection-column {
    max-height: calc(100vh - 390px);
    width: 395px;
    margin-top: -6px;
}

.mix-audio-matrix-modal-btn-row {
    margin-top: 12px !important;
    display: flex;
}