.wall-content .ant-modal-content {
    padding: 56px !important;
    height: 1216px;
}

.ant-modal-close-icon {
    margin-top: 50px;
    margin-right: 72px;
}

.ant-modal-close-x {
    background-color: #ffffff;
}

.wall-modal {
    width: 1467px !important;
    margin-top: -40px;
}

.wall-modal-title {
    height: 36px;
    flex-grow: 1;
    font-family: Noto Sans TC;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #45413e;
}

.situation-wall-layout-column {
    display: flex;
    margin-top: 24px !important;
    margin-left: 0px !important;
}

.situation-wall-option-container {
    width: 947px;
    margin-top: 24px;
    margin-right: 92px;
}

.situation-wall-option-row {
    width: 1268px;
    height: 76px;
    display: flex;
}

.situation-wall-input-layout-column {
    width: 417.5px;
    margin-right: 56px;
}

.situation-wall-input-text {
    height: 24px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
    color: #45413e;
}

.situation-wall-input {
    height: 48px;
    margin-top: 8px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background-color: #ffffff;
}

.situation-wall-input-placeholder {
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
    color: #c6c6c6;
}

.connection-title {
    margin: 161px 0px 56px 0px;
    height: 32px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000;
}

.add-situation-item-btn-row {
    margin-top: 54px;
    display: flex;
}

.item-cancel-btn {
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding: 0 24px;
    border-radius: 26px;
    border: solid 1px #575452;
    margin-left: 1160px;
}

.item-cancel-btn-text {
    height: 24px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: center;
    color: #575452;
}

.item-submit-btn {
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding: 0 24px;
    border-radius: 24px;
    background-color: #262320;
}

.item-submit-btn-text {
    height: 24px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: center;
    color: #e7e7e7;
}