 @use "../../App.scss";

.wall-content .ant-modal-content {
    padding: 56px !important;
    height: 980px;
}

.wall-content-modal-close-icon .ant-modal-close-icon {
    margin-top: 50px;
    margin-right: 72px;
}

.ant-modal-close-x {
    background-color: #ffffff;
}

.wall-modal {
    max-width: none !important;
    width: 1160px !important;
    margin-top: -80px;
}

.wall-modal-title {
    height: 36px;
    flex-grow: 1;
     @extend .sdcp-font;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #45413e;
}

.situation-wall-layout-column {
    display: flex;
    margin-top: 0px !important;
    margin-left: 0px !important;
}

.situation-wall-option-container {
    width: 736px;
    margin-top: 24px;
    margin-right: 12px;
}

.situation-wall-option-row {
    width: 736px;
    height: 200px;
    display: flex;
}

.wall-modal-divider {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 22px;
    align-self: stretch;
    flex-grow: 0;
    background-color: #d4d4d4;
}

.situation-wall-input-layout-column {
    width: 316px;
    margin-right: 56px;
}

.situation-wall-input-text {
    height: 24px;
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
    color: #45413e;
}

.situation-wall-input {
    height: 48px;
    margin-top: 8px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    background-color: #ffffff;
}

.situation-wall-input-placeholder {
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
}

.connection-title {
    margin: 0px 0px 16px 0px !important;
    height: 32px;
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000;
}

.siutation-tvwall-card-container {
    height: 780px;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    position: absolute;
    right: 14px;
}

.siutation-tvwall-card-right-preview-text {
    position: absolute;
    top: 50%;
    left: 95%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.siutation-tvwall-card-right-encoder-container {
    margin-top: 16px;
    height: 400px;
    border-radius: 24px;
    // overflow-y: scroll;
}

.situation-wall-item-btn-row {
    margin-top: 0px !important;
    display: flex;
}

.situation-wall-item-cancel-btn {
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding: 0 24px;
    border-radius: 26px;
    border: solid 1px #575452;
    margin-left: 868px;
}

.item-cancel-btn-text {
    height: 24px;
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: center;
    color: #575452;
}

.item-submit-btn {
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding: 0 24px;
    border-radius: 24px;
    background-color: #262320;
}

.item-submit-btn-text {
    height: 24px;
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: center;
    color: #e7e7e7;
}