.create-template-btn {
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 24px 0 16px;
    border-radius: 24px;
    background-color: #262320;
}

.create-template-btn-icon {
    width: 18px;
    height: 18px;
    flex-grow: 0;
    object-fit: contain;
}

.create-template-btn-text {
    height: 24px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: center;
    color: #e7e7e7;
}

.create-template-setting .ant-modal-content {
    padding: 56px !important;
    height: 988px;
}

.ant-modal-close-icon {
    margin-top: 50px;
    margin-right: 72px;
}

.ant-modal-close-x {
    background-color: #ffffff;
}

.create-template-modal {
    width: 1190px !important;
    margin-top: -40px;
}

.create-template-modal-title {
    height: 36px;
    flex-grow: 1;
    font-family: Noto Sans TC;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #45413e;
}

.input-option-row {
    height: 80px;
    margin-top: 28px;
    display: flex;
}

.input-title {
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
    color: #45413e;
}

.input-object {
    width: 288px;
    height: 48px;
    font-size: 16px;
    margin-top: 8px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    border: solid 1px #757371;
    background-color: #ffffff;
}

.input-dimension-row {
    display: flex;
}

.input-dimension {
    width: 76px;
}

.input-dimension-multiply-icon {
    width: 15px;
    height: 15px;
    margin: 24px 12px 0px 12px;
}

.divider {
    height: 1px;
    margin-top: 40px;
    margin-bottom: 30px;
    align-self: stretch;
    flex-grow: 0;
    background-color: #d4d4d4;
}

.create-template-second-title {
    height: 32px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.2px;
    text-align: left;
    color: #45413e;
}

.create-template-desc {
    height: 24px;
    flex-grow: 0;
    margin-top: 8px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    color: #898989;
}

.screen-setting-row {
    margin-top: 40px;
    height: 468px;
    display: flex;
}

.block-setting-container {
    width: 402px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding: 0 12px;
    border-radius: 12px;
    border: solid 1px #d4d4d4;
    height: 464px;
    right: 48px;
}

.block-setting-container-row {
    width: 378px;
    display: flex;
    justify-content: space-between;
}

.block-setting-container-title {
    height: 24px;
    flex-grow: 1;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
    color: #45413e;
    margin: 28px 16px 0px 16px;
}

.block-setting-add-block-button {
    margin-top: 26px;
    border-radius: 12px;
}

.block-setting-add-block-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: 2px;
}

.block-setting-divider {
    height: 1px;
    margin-top: 28px;
    margin-bottom: 24px;
    align-self: stretch;
    flex-grow: 0;
    background-color: #d4d4d4;
}

.screen-block-default {
    width: 124px;
    height: 115px;
    gap: 10px;
    padding: 0;
    border: solid 1px #c6c6c6;
    background-color: #f5f5f5;
}

.screen-block-text-default {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #45413e;
    position: absolute;
    margin: -58px 0px 0px 0px !important;
    text-align: center;
}

.screen-block-handled {
    width: 124px;
    height: 115px;
    gap: 10px;
    padding: 0;
    border: solid 3px #45413e;
    background-color: rgba(38, 35, 32, 0.3);
}

.screen-block-text-handled {
    width: 40px;
    height: 40px;
    background-color: #45413e;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    margin: -58px 0px 0px 0px !important;
    text-align: center;
}

.screen-block-selected {
    width: 124px;
    height: 115px;
    gap: 10px;
    padding: 0;
    border: solid 3px #45413e;
    background-color: rgba(251, 243, 123, 0.2);
}

.screen-block-text-selected {
    width: 40px;
    height: 40px;
    background-color: #45413e;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    margin: -58px 0px 0px 0px !important;
    text-align: center;
}

.screen-block-text-selected {
    width: 40px;
    height: 40px;
    background-color: #45413e;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    margin: -58px 0px 0px 0px !important;
    text-align: center;
}

.screen-block-num {
    width: 45px;
    height: 45px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 36px;
    margin-top: -16px;
    gap: 10px;
    border-radius: 36px;
    background-color: #45413e;
}

.screen-block-num-text {
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.block-option-container {
    overflow: scroll;
}

.block-option {
    width: 342px;
    height: 24px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 16px;
    color: #363330;
    margin: 0px 16px;
    cursor: pointer;
}

.block-option:hover {
    background-color: #fbf37b;
}

.is-default-ckbox-container {
    margin-top: 26px;
    margin-left: 12px;
}

.ant-checkbox-inner {
    transform: scale(1.2);
}

.is-default-ckbox-text {
    height: 24px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    color: #898989;
    margin-left: 16px;
}

.screen-setting-submit-row {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.screen-setting-clear-btn {
    height: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding: 0 12px;
    border-radius: 26px; 
}

.screen-setting-clear-btn-text {
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.1px;
    text-align: center;
    color: #898989;
}

.screen-setting-create-btn {
    width: 120px;
    height: 48px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 47px;
    padding: 0 24px;
    border-radius: 24px;
    background-color: #262320;
}

.screen-setting-create-btn-text {
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: center;
    color: #e7e7e7;
}