 @use "../../../App.scss";

 .template-setting-content-container {
    width: calc(100vw - 270px);
}

.template-setting-content-container-collapse {
    width: calc(100vw - 120px);
}

@media(max-width: 1180px) {
    .template-setting-content-container {
        width: 908px;
    }

    .template-setting-content-container-collapse {
        width: 1058px;
    }
}

.template-setting-title-row {
    display: flex;
    justify-content: space-between;
}

.template-setting-table-row {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-top: 24px;
}

.template-setting-table-container {
    min-width: calc(50vw - 142px);
    height: calc(100vh - 240px);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 12px !important;
}

.template-setting-table-container-collapse {
    min-width: calc(50vw - 66px);
    height: calc(100vh - 240px);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 12px !important;
}

.template-setting-screen-container {
    min-width: calc(50vw - 142px);
    height: calc(100vh - 240px);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 12px !important;
    overflow: auto;
}

.template-setting-screen-container-collapse {
    min-width: calc(50vw - 66px);
    height: calc(100vh - 240px);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 12px !important;
    overflow: auto;
}

.table-head {
     @extend .sdcp-font;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #a5a5a5;
}

.table-content-icon {
    width: 19px;
}

.table-default-desc {
    white-space: pre;
    height: 24px;
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    color: #c6c6c6;
}

.template-setting-screen-block-container {
    border: 1px solid #cacaca;
    border-radius: 12px;
    margin-top: 16px;
    padding: 16px 8px;
    height: calc(100vh - 365px);
    overflow: auto;
}