.view-template-setting .ant-modal-content {
    padding: 40px !important;
    height: 760px;
}

.view-template-modal-close-icon .ant-modal-close-icon {
    margin-top: 30px;
    margin-right: 40px;
}

.ant-modal-close-x {
    background-color: #ffffff;
}

.view-template-modal {
    width: 730px !important;
    margin-top: -40px;
}

.view-template-modal-title {
    height: 36px;
    flex-grow: 1;
    font-family: Noto Sans TC;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #45413e;
}

.template-info {
  height: 24px;
  align-self: stretch;
  flex-grow: 0;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: left;
  color: #45413e;
}

.view-screen-block-default {
    width: 124px;
    height: 115px;
    gap: 10px;
    padding: 0;
    border: solid 1px #c6c6c6;
    background-color: #f5f5f5;
}

.view-screen-block-text-default {
    width: 40px;
    height: 40px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #45413e;
    position: absolute;
    margin: 0px 0px 0px 0px !important;
    text-align: center;
}

.view-screen-block-handled {
    width: 124px;
    height: 115px;
    gap: 10px;
    padding: 0;
    border: solid 3px #45413e;
    background-color: rgba(38, 35, 32, 0.3);
}

.view-screen-block-text-handled {
    width: 40px;
    height: 40px;
    background-color: #45413e;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    margin: 0px 0px 0px 0px !important;
    text-align: center;
}

.view-screen-block-num {
    width: 45px;
    height: 45px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 42px;
    margin-top: 36px;
    gap: 10px;
    border-radius: 36px;
    background-color: #45413e;
}

.view-screen-block-num-text {
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}