.device-setting-content-container {
    width: 1200px;
}

@media(max-width: 1180px) {
    .device-setting-content-container {
        width: 820px;
    }
}

.title-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.table-container {
    height: 788px;
    margin-top: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 10px;
}

.device-table-content-icon {
    width: 19px;
    border: none;
}

.table-content-text {
    // text-align: center;
    height: 30px;
    // padding: 2px 2px;
    border-radius: 8px;
    background-color: #ffffff;
}

.table-content-text-isnew {
    // text-align: center;
    margin: auto;
    height: 30px;
    // padding: 2px 2px;
    border-radius: 8px;
    background-color: #fffcd1;
}

.device-setting-save-btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #262320;
    color: #e7e7e7;
    padding: 7px;
}

.device-setting-save-btn-text {
    color: #e7e7e7;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
    margin-left: 28px;
}

.device-setting-cancel-btn {
    width: 60px;
    height: 40px;
    cursor: pointer;
    border-radius: 24px;
    color: #e7e7e7;
    padding: 7px;
    margin-left: 14px;
}

.device-setting-cancel-btn-text {
    color: #898989;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
}

.device-setting-content-table {
    height: 860px;
    overflow-x: scroll;
}

@media(max-width: 1180px) {
    .device-setting-content-table {
        height: 520px;
        overflow-x: scroll;
    }
}