 @use "../App.scss";

 @keyframes zoom-out {
    0% {
      scale: 60%;
    }
    100% {
      scale: 100%;
    }
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #262320;
    animation: zoom-out 1.5s ease;
}

.login-form-container-background {
    width: 285px;
    height: 400px;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(0%, -50%);
    border-radius: 32px;
    opacity: 0.8;
    background-color: #444444;
    // z-index: 11000;
}

.login-form-container {
    height: 360px;
    padding: 32px;
    // width: 285px;
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translate(0%, -50%);

    // background-color: white;
}

.login-logo-container {
    height: 60px;
    margin: 58px 0px 12px 0px;
    // margin: 20 auto;
    // opacity: 1 !important;

    // background-color: white;
}

.login-logo {
    // margin: 32px;
    position: absolute;
    // top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 186px;
    opacity: 1 !important;
}

.login-form-text {
    font-family: Microsoft JhengHei;
    font-size: 17px;
    color: white;
    margin-top: 26px;
}

.login-form-input {
    width: 165px;
    height: 40px;
    margin: 8px 8px 6px 4px;
    border-radius: 8px;
    background-color: #d9d9d9;
}

.login-form-input .ant-input-affix-wrapper {
    background-color: #d9d9d9 !important;
}

.login-form-input .ant-input {
    background-color: #d9d9d9 !important;
}

.login-form-button {
    width: 120px;
    height: 40px;
    color: white;
    margin-top: 24px;
    margin-left: 58px;
    font-size: 16px;
    font-family: Microsoft JhengHei;
    // @extend .sdcp-font;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0px 0px 8px white;

}

.login-form-button:hover {
    background-color: #262320 !important;
}

.login-anime {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}