@import '../App.scss';

.ant-picker-now-btn {
    display: none;
}

.record-layout {
    margin-top: 22px;
    margin-left: 24px;
}

.record-get-report-btn {
    height: 40px;
    @extend .sdcp-font;
    border-radius: 12px;
    background-color: #262320;
    padding: 0px 14px;
    &:hover {
        background-color: #45413e !important;
        color: #fff !important;
    }
}

.record-get-report-btn-text {
    height: 24px;
    @extend .sdcp-font;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #e7e7e7;
}

.record-container {
    height: calc(100vh - 260px);
    width: calc(100vw - 310px);
    min-width: 290px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 40px;
    padding-bottom: 0px !important;
}

.record-container-collapsed {
    height: calc(100vh - 260px);
    width: calc(100vw - 160px);
    min-width: 290px;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 40px;
    padding-bottom: 0px !important;
}