.setting-option-button {
    margin: 24px 36px 26px 14%;
    border-radius: 12px;
    border: 1px solid gray;
    width: 75%;
    height: 60px;
    display: grid;
    grid-template-columns: 15fr 75fr 10fr;
}

.setting-option-text {
    margin: 6px 6px 6px 6px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    height: 42px;
}

.setting-option-icon {
    margin: 12px 6px 6px 6px;
    font-size: 22px;
}