.single-screen-layout-column {
    display: flex;
    margin-top: 48px;
    margin-left: 56px;
}

.single-screen-title-row {
    width: 1168px;
    display: flex;
    justify-content: space-between;
}

.single-screen-title-row-collapse {
    width: 1288px;
    display: flex;
    justify-content: space-between;
}

.single-screen-title-input {
    width: 270px;
    height: 48px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
    background-color: #e7e7e7;
}

.single-screen-card {
    width: 280px;
    height: 269px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    border: solid 1px #a5a5a5;
}

.single-screen-card-collapse {
    width: 309px;
    height: 293px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    border: solid 1px #a5a5a5;
}

.single-screen-card-top {
    width: 278px;
    height: 268px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    opacity: 0.8;
}

.single-screen-card-top-collapse {
    width: 307px;
    height: 292px;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    opacity: 0.8;
}

.single-screen-card-video {
    width: 278px;
    height: 213px;
    margin-top: 55px;
    position: absolute;
    border: 0;
    border-radius: 0px 0px 12px 12px !important;
}

.single-screen-card-video-collapse {
    width: 307px;
    height: 237px;
    margin-top: 55px;
    position: absolute;
    border: 0;
    border-radius: 0px 0px 12px 12px !important;
}

.single-screen-card-title-row {
    padding: 14px;
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.single-screen-card-title-row-collapse {
    padding: 14px;
    width: 309px;
    display: flex;
    justify-content: space-between;
}

.single-screen-card-title {
    width: 100%;
    color: #45413e;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: 600;
}

.single-screen-card-desc {
    padding: 2px 0px 0px 14px;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: normal;
    color: white;
}

.single-screen-btn-position {
    margin-top: 135px;
    margin-left: 140px;
}

.single-screen-btn-position-collapse {
    margin-top: 155px;
    margin-left: 165px;
}

.single-screen-trash-btn {
    width: 18px;
    background-color: black;
}

.single-screen-btn-text {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
}

.singlescreen-card-container {
    min-width: 408px;
    height: 926px;
    margin-bottom: 24px;
    margin-left: 45px;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
}

.singlescreen-card-container-collapse {
    min-width: 408px;
    height: 926px;
    margin-bottom: 24px;
    margin-left: 56px;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
}

.singlescreen-card-right {
    height: 100%;
    border-radius: 24px;
}

.singlescreen-card-right-title {
    color: #45413e;
    font-size: 22px;
    font-family: Noto Sans TC;
    font-weight: 600;
}

.singlescreen-card-right-desc {
    color: #a5a5a5;
    font-size: 16px;
    font-family: Noto Sans TC;
    font-weight: normal;
}

.singlescreen-card-right-preview {
    width: 100%;
    min-height: 205px;
    border-radius: 8px;
    border: 1px solid gray;
    position: relative;
    margin-top: 16px;
}

.singlescreen-card-right-preview-video {
    width: 100%;
    max-width: 100%;
    min-height: 203px;
    margin-bottom: -6px;
    border-radius: 8px;
    border: 0px;
    position: absolute;
}

.singlescreen-card-right-preview-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.singlescreen-card-right-search {
    height: 48px;
    margin-top: 16px;
    font-size: 16px;
    background-color: #e7e7e7;
}

.singlescreen-input .ant-input {
    background-color: #e7e7e7;
    font-family: Noto Sans TC;
}

.singlescreen-card-right-encoder-container {
    margin-top: 16px;
    overflow-y: scroll;
}

.singlescreen-card-right-bottom {
    height: 104px;
    border-radius: 0 0 24px 24px;
    margin: 0px -24px 0px -24px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #c6c6c6;
}

.singlescreen-card-right-bottom-text {
    padding-top: 8px;
    height: 36px;
    color: #45413e;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 600;
}

.singlescreen-card-right-bottom-select {
    width: 100%;
}

.ant-table-thead > tr > th {
    border: none;
}

.ant-table-tbody > tr > td {
    border: none
}

.ant-card-body {
    padding-bottom: 0px !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #262320 !important;
    width: 160px;
    text-align: center;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: 600;
}

.ant-tabs-ink-bar {
    position: absolute;
    background: #262320 !important;
    pointer-events: none;
}