.situation-title-row {
  height: 40px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-family: Noto Sans TC;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #363330;
}

.situation-layout-column {
  width: 1620px;
  display: flex;
  margin-top: 48px;
  margin-left: 80px;
}

.situation-card {
  height: 120px;
  border: 1px black solid;
  border-radius: 16px;
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 24px;
}
