.situation-title-row {
  height: 40px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-family: Noto Sans TC;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #363330;
}

.situation-title-layout {
  width: 1620px;
  display: flex;
  margin-top: 48px;
  margin-left: 80px;
}

.situation-list-layout {
  width: 1620px;
  display: flex;
  margin-top: 12px;
  margin-left: 80px;
}

.ant-card .ant-card-head {
  border-bottom: 0px !important;
}

.situation-card-expanded {
  width: 853px;
  height: 824px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin: 16px 47px 0px 0;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(38, 35, 32, 0.15), 0 2px 8px 0 rgba(38, 35, 32, 0.3);
  background-color: #ffffff;
}

.situation-card-normal {
  width: 720px;
  height: 184px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  margin: 16px 0px 0px 0px;
  padding: 40px;
  border-radius: 24px;
  box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
  background-color: #ffffff;
}

.situation-card-title-row-expanded {
  width: 672px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.situation-card-title-row-normal {
  width: 572px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.situation-card-title {
  height: 32px;
  flex-grow: 0;
  font-family: Noto Sans TC;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 1.2px;
  text-align: left;
  color: #45413e;
}

.situation-card-play-btn {
  width: 40px;
  height: 40px;
  flex-grow: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 26px;
  border: solid 1px #575452;
}

.situation-card-play-icon {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}

.situation-card-caret-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  flex-grow: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0px;
  border-radius: 26px;
}

.situation-card-caret-icon {
  width: 24px;
  height: 24px;
  margin-top: 8px;
}

.situation-card-content-expanded {
  width: 730px;
}

.situation-card-content-normal {
  width: 560px;
}

.situation-description {
  margin-top: -24px;
  margin-bottom: 30px;
  flex-grow: 0;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: left;
  color: #45413e;
}

.table-no-item .ant-table-content {
  height: 65px !important;
  overflow: hidden;
}

.table-content-icon {
  width: 19px;
}

.add-situation-item-btn {
  height: 40px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 16px 0 12px;
  border-radius: 26px;
  margin-top: 10px;
}

.add-situation-item-btn-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-right: 10px;
}

.add-situation-item-btn-text {
  height: 24px;
  flex-grow: 0;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: center;
  color: #d2c409;
}

.delete-situation-btn {
  height: 40px;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 16px 0 12px;
  border-radius: 26px;
  position: absolute;
  bottom: 40px;
}

.delete-situation-btn-text {
  height: 20px;
  flex-grow: 0;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.1px;
  text-align: center;
  color: #a5a5a5;
}