@import '../App.scss';

.situation-detail-modal {
    width: 1080px !important;
    margin-top: -60px;
}

.status-title-row {
    display: flex;
    justify-content: space-between;
}

.status-title-input {
    width: 270px;
    height: 48px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
     @extend .sdcp-font;
    background-color: #e7e7e7;
}

.status-content-container {
    max-height: calc(100vh - 296px);
    min-height: 455px;
    width: calc(100vw - 360px);
    max-width: calc(100vw - 360px);
    min-width: 750px;
    margin-top: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 40px;
}

.status-content-container-collapse {
    max-height: calc(100vh - 296px);
    min-height: 455px;
    width: calc(100vw - 310px);
    max-width: calc(100vw - 310px);
    min-width: 800px;
    margin-top: 40px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    background-color: white;
    padding: 40px;
}

.status-content-table {
    height: calc(100vh - 300px);
    width: 100%;
    overflow: scroll;
}

// @media(max-width: 1180px) {
//     .status-content-table {
//         height: 620px;
//         overflow: scroll;
//     }
// }

.situation-card-play-icon {
    width: 18px;
    height: 18px;
    margin-top: 6px;
}

.situation-detail-table {
    max-height: calc(100vh - 390px);
    overflow: scroll;
}

.situation-detail {
    width: 960px;
    padding: 30px;
}

.situation-title-row {
    height: 80px;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

.situation-description {
    margin-bottom: 26px;
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: left;
    color: #45413e;
}

.situation-pause-btn {
    background-color: #fbf37b;
}

.situation-finish-btn {
    height: 40px;
    margin: -12px 26px 10px 0px;
    border-radius: 26px; 
}

.situation-finish-btn-text {
    flex-grow: 0;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.1px;
    text-align: center;
    color: #898989;
}

.no-audio-hint-modal-title {
    height: 36px;
    flex-grow: 1;
     @extend .sdcp-font;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #45413e;
}

.no-audio-hint-modal-content {
     @extend .sdcp-font;
    font-size: 16px;
    margin: 36px 0px 0px 12px;
}

.no-audio-hint-modal-content-btn {
     @extend .sdcp-font;
    font-size: 16px;
    border-radius: 26px;
    color:rgb(0, 89, 255);
}