@import '../App.scss';

.tvwall-option-row {
    width: calc(100vw - 680px);
    min-width: 720px;
    height: 76px;
    margin-top: 24px;
    display: flex;
}

.tvwall-option-row-select {
    min-width: 160px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}

.tvwall-option-row-select-collapse {
    min-width: 160px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
}

.tvwall-option-select-desc {
    color: #45413e;
    margin-bottom: 4px;
    line-height: 1.5;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: 600;
}

.tvwall-option-row-select .ant-select-selection-item {
    font-size: 16px;
}

.tvwall-option-select {
    width: 100%;
    height: 42px;
    color: #45413e;
    font-size: 16px;
     @extend .sdcp-font;
}

.tvwall-option-trash-btn {
    min-width: 136px;
    height: 36px;
    cursor: pointer;
    padding: 6px 12px;
    margin: 32px 12px 0px 0px;
    border: 1px solid #c33434;
    border-radius: 26px;
}

.tvwall-option-trash-icon {
    width: 18px;
    margin-top: 2px;
    margin-right: 6px;
}

.tvwall-option-trash-text {
    width: 139px;
    color: #c33434;
     @extend .sdcp-font;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
}

.tvwall-option-play-btn {
    width: 131px;
    height: 48px;
    cursor: pointer;
    border-radius: 24px;
    background-color: #262320;
    color: #e7e7e7;
    margin: 26px 0px 0px 0px;
}

.tvwall-option-play-icon {
    width: 18px;
    margin: 14px 3px 0px 35px;
}

.tvwall-option-play-text {
    width: 131px;
    color: #e7e7e7;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    margin-top: 10px;
}

.tvwall-screen-container {
    margin-top: 12px;
    margin-bottom: 16px;
    flex-grow: 1;
    overflow: auto;
}

.tvwall-card-container {
    height: calc(100vh - 102px);
    border-radius: 24px;
    box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
    position: absolute;
    right: 18px;
    margin-left: 6px;
}

// @media(max-width: 1179px) {
//     .tvwall-card-container {
//         height: calc(100vh - 110px);
//         border-radius: 24px;
//         box-shadow: 0 2px 6px 0 rgba(38, 35, 32, 0.2), 0 1px 2px 0 rgba(38, 35, 32, 0.1);
//         // position: absolute;
//         // right: 16px;
//         margin-left: 16px;
//     }
// }

.tvwall-card-right {
    width: 323px;
    border-radius: 24px;
    z-index: 100;
    overflow: hidden;
}

.tvwall-title-column {
    justify-content: space-between;
    display: flex;
}

.tvwall-card-right-title {
    color: #45413e;
    font-size: 22px;
     @extend .sdcp-font;
    font-weight: 600;
}

.tvwall-card-right-desc {
    color: #a5a5a5;
    font-size: 16px;
     @extend .sdcp-font;
    font-weight: normal;
}

.tvwall-card-right-preview {
    width: 276px;
    height: 155px;
    border-radius: 8px;
    border: 1px solid gray;
    position: relative;
    margin-top: 16px;
}

.tvwall-card-right-preview-text {
    color: #a5a5a5;
    font-size: 16px;
     @extend .sdcp-font;
    font-weight: normal;
}

.tvwall-card-right-preview-video {
    width: 100%;
    max-width: 100%;
    height: 203px;
    margin-bottom: -6px;
    border-radius: 8px;
    border: 0px;
    position: absolute;
}

.tvwall-card-right-preview-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tvwall-card-right-search {
    height: 40px;
    width: 278px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #e7e7e7;
}

.tvwall-input .ant-input {
    background-color: #e7e7e7;
     @extend .sdcp-font;
}

.tvwall-card-right-encoder-container {
    margin-top: 12px;
    height: calc(100vh - 436px);
    border-radius: 24px;
    // overflow-y: scroll;
}

.tvwall-card-right-encoder-container-without-preview {
    margin-top: 12px;
    height: calc(100vh - 436px + 171px);
    border-radius: 24px;
    // overflow-y: scroll;
}

.ant-table-thead > tr > th {
    border: none;
}

.ant-table-tbody > tr > td {
    border: none
}

.ant-card-body {
    padding-bottom: 0px !important;
}

.tvwall-confirm-text {
    font-size: 15px;
     @extend .sdcp-font;
}