.usb-view-modal {
    max-width: none !important;
    width: 920px !important;
    margin-top: -80px;
}

.usb-view-connect-selection-column {
    width: 390px;
    max-height: calc(100vh - 390px);
}

