.ant-menu-item.ant-menu-item-selected {
    background-color: #c6c6c6;
}

.menu-icon {
    width: 20px;
    height: 20px;
}

.menu-text {
    color: #45413e;
    font-size: 16px;
    font-family: PingFangTC;
}

.logout-btn {
    left: 14px;
    bottom: 18px;
}

@media(max-height: 540px) {
    .logout-btn {
        left: 14px;
        top: 520px;
    }
}