.confirm-modal {
    width: 520px !important;
}

.confirm-modal-title {
    height: 36px;
    flex-grow: 1;
    font-family: Noto Sans TC;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #45413e;
}

.confirm-modal-description {
    height: 24px;
    flex-grow: 0;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    text-align: left;
    color: #45413e;
}