::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background: rgba(198, 198, 198, 0.8)
}

.page-layout-column {
    display: grid;
    grid-template-columns: 21fr 7fr;
    margin-top: 48px;
    margin-left: 80px;
}

.page-layout-column-collapse {
    display: grid;
    grid-template-columns: 21fr 7fr;
    margin-top: 48px;
    margin-left: 120px;
}

.page-title {
    font-size: 32px;
    font-family: Noto Sans TC;
    text-align: left;
}

.ant-table-thead > tr > th {
    font-size: 14px;
    font-family: Noto Sans TC;
}

.table-content {
    font-size: 16px;
    font-family: Noto Sans TC;
}

.tag-content {
    font-size: 12px;
    font-family: Noto Sans TC;
}

.modal-title .ant-modal-title {
    font-size: 24px;
}

.encoder-normal-dot {
    height: 14px;
    width: 14px;
    background-color: #389e0d;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 6px -2px 0px;
}

.encoder-down-dot {
    height: 14px;
    width: 14px;
    background-color: #d4b106;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 6px -2px 0px;
}

.encoder-abnormal-dot {
    height: 14px;
    width: 14px;
    background-color: #cf1322;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 6px -2px 0px;
}

.setting-option-button {
    margin: 24px 36px 26px 14%;
    border-radius: 12px;
    border: 1px solid gray;
    width: 75%;
    height: 60px;
    display: grid;
    grid-template-columns: 15fr 75fr 10fr;
}

.setting-option-text {
    margin: 6px 6px 6px 6px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    height: 42px;
}

.setting-option-icon {
    margin: 12px 6px 6px 6px;
    font-size: 22px;
}