.ant-menu {
    width: 224px;
    padding-top: 16px;
}

.ant-layout-sider {
    width: 224px !important;
    min-width: 224px !important;
}

.ant-layout-sider-collapsed {
    min-width: 72px !important;
}

.responsive-sider {
    width: 224px;
    height: calc(100vh - 56px); // 56px is length of topbar
    background-color: #e7e7e7 !important;
}

@media(max-height: 710px) {
    .responsive-sider {
        width: 224px;
        height: 643px;
        background-color: #e7e7e7 !important;
    }
}

.ant-layout-sider-trigger {
    display: none;
}

.responsive-layout {
    height: 100%;
    width: 100%;
    min-height: 623px;
    min-width: 1100px;
}