.ant-menu {
    width: 224px;
    padding-top: 16px;
}

.ant-layout-sider {
    width: 224px !important;
    min-width: 224px !important;
}

.ant-layout-sider-collapsed {
    min-width: 72px !important;
}

.ant-layout-sider-trigger {
    display: none;
}

.responsive-layout {
    min-width: 1920px;
    min-height: 1080px;
    height: 100vh;
}

@media(max-width: 1180px) {
    .responsive-layout {
        min-width: 1170px;
        min-height: 820px;
        height: 100vh;
    }
}