 @use "../../App.scss";

.wall-block-outer {
    position: absolute;
    background-color: #e7e7e7;
    border-radius: 8px;
    cursor: pointer;
    border: solid 2px #ffffff;
}

.wall-block {
    position: absolute;
    border: solid 8px rgba(0, 0, 0, 0);
    border-radius: 6px;
    z-index: 100;
}

.wall-block-selected {
    position: absolute;
    border: solid 8px #757371;
    border-radius: 6px;
    z-index: 100;
}

.wall-block-title-row {
    padding: 8px 18px 2px 8px;
}

.wall-block-title {
    border-radius: 4px;
    color: #45413e;
     @extend .sdcp-font;
    font-size: 22px;
    font-weight: 500;
}

.wall-block-title-selected {
    padding: 4px 8px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #757371;
     @extend .sdcp-font;
    font-size: 22px;
    font-weight: 500;
}

.wall-block-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 0px 0px 10px;
     @extend .sdcp-font;
    font-size: 16px;
    font-weight: normal;
    color: #45413e;
}