.wall-block-title {
    color: #45413e;
    font-family: Noto Sans TC;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.wall-block-text {
    height: 24px;
    color: #45413e;
    font-family: Noto Sans TC;
    font-size: 14px;
}